# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment files
.env
.env.*

# Logs
*.log

# Test and coverage
htmlcov/
.coverage
.tox/

# Database
*.sqlite3

# Node
node_modules/

# Others
*.bak
*.swp
